@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi";
  src: url('./assets/fonts/Satoshi-Medium.ttf') format('truetype'); 
}
.blur-header {
  background-color: #4a2f1d;
  border-radius: 100px;
  filter: blur(100px);
  height: 30rem;
  position: absolute;
  top: 1;
  transform: translate(-90%, 10%);
  width: 30rem;
  z-index: -1;
}
.blur {
  background-color: #4a2f1d;
  border-radius: 100px;
  filter: blur(100px);
  height: 20rem;
  position: absolute;
  top: 12rem;
  transform: translate(100%, -50%);
  width: 20rem;
  z-index: -1;
}
body::-webkit-scrollbar{
  display: none;
}
body {
  margin: 0;
  font-family: Satoshi;     
}



