@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MyCustomFont';
  src: url('./assets/fonts/Satoshi-Medium.woff') format('woff2'),
  url('./assets/fonts/Satoshi-Medium.ttf') format('truetype');
  ;

  font-weight: normal;
  font-style: normal;
}
.blur {
  background-color: #4a2f1d;
  border-radius: 100px;
  filter: blur(100px);
  height: 20rem;
  position: absolute;
  top: 12rem;
  transform: translate(100%, -50%);
  width: 20rem;
  z-index: -1;
}

body {
  margin: 0;
  font-family: 'MyCustomFont', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


