@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MyCustomFont';
  src: url('./assets/fonts/Satoshi-Medium.woff') format('woff2'),
  url('./assets/fonts/Satoshi-Medium.ttf') format('truetype');
  ;

  font-weight: normal;
  font-style: normal;
}


body {
  margin: 0;
  font-family: 'MyCustomFont', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


